# https://waha.devlike.pro/docs/how-to/install/
services:
  waha:
    restart: always
    # https://waha.devlike.pro/docs/how-to/engines/#docker-images
    # https://portal.devlike.pro/docker-image
    image: devlikeapro/waha
    # WAHA Core
    # image: devlikeapro/waha:latest
    
    environment:
      - WAHA_API_KEY=${WAHA_API_KEY}

      - WAHA_START_SESSION=default
      - WAHA_PRINT_QR=True

    # Add "dns" if you have a problem with resolving "web.whatsapp.com"
    # dns:
    #  - 1.1.1.1
    #  - 8.8.8.8

    logging:
      driver: 'json-file'
      options:
        max-size: '100m'
        max-file: '10'

    ports:
      - '127.0.0.1:3000:3000/tcp'

    volumes:
      # Store sessions in the .sessions folder (comment it if you're using MongoDB)
      - './sessions:/app/.sessions'

      # Save media files
      # https://waha.devlike.pro/docs/how-to/storages/#save-media-files-between-the-container-restarts
      - './media:/app/.media'

    env_file:
      - .env

  scheduler-bot:
    # CHANGE HERE: Use 'image' instead of 'build'
    image: nachmanm/automation_whatsapp:0.5
    container_name: scheduler-bot
    restart: no
    depends_on:
      - waha
    env_file:
      - ./automation_bot/.env
    volumes:
      # Ensure this local folder still exists so you can inspect images if needed
      - ./automation_bot/waha_images:/app/waha_images

volumes:
  mongodb_data: {}
  minio_data: {}
  pg_data: {}
